$color-prink: #FCA0C9;
$color-black: #1D1B1C;;

::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1100px) {
    .container-fluid{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 600px) {
    .container-fluid{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

body{
    background: $color-black;
    font-size: 14px;
}

#wrapper{
    max-width: 5120px;
    margin: auto;
    overflow: hidden;
}

.section{
    background: $color-black;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
    // min-height: 70px;
    background: $color-black;

    .header_main{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__menu{
            width: 80%;

            .menu_h2n{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
            }
        }

    }
}


#menu {
    margin: 0;
    padding: 0;
    li {
        display:inline-block;
        margin-right: 10px;
        color: #000;
        background: transparent;
        -webkit-border-radius: 10px;
        border-radius: 10px;

        &.header_logo {
            a{
                padding-left: 0 !important;
            }
        }
    }
}
#menu li a.active{
	color: $color-prink;
}
#menu li a{
	text-decoration:none;
	color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    --minFontSize: 16px;
    --maxFontSize: 11px;
    --scaler: 2vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
#menu li.active a:hover{
	color: $color-prink;
}
#menu li:hover a{
	color: $color-prink;
}
#menu li a,
#menu li.active a{
	padding: 9px 10px;
	display:block;
}
#menu li.active a{
	color: $color-prink;
}
#header{
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
}

.section h1{
    color: #fff;
}
.layout-table{
    display: table;
    table-layout: fixed;
    width: 100%;

    &--cell{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

.home__image-full {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 100vw;
    z-index: 0;

    video{
        display: block;
        vertical-align: middle;
        max-width: 100%;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.home__content-text{
    word-break: unset;
    letter-spacing: unset;
    color: #fff;
    font-size: 16px;
    z-index: 10;
    position: relative;
    font-weight: bold;

    &.text-lg{
        --minFontSize: 32px;
        --maxFontSize: 200px;
        --scaler: 4vw;
        font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    }

    &.text-sm{
        font-size: 2.8rem;
    }

    .text-unset{
        font-size: 20px;
        font-weight: 400;
        text-transform: lowercase;

        @media (max-width: 1400px) {
            font-size: 16px;
        }

        @media (max-width: 987px) {
            font-size: 18px;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }
    }
}

.text-transform-uppercase{
    text-transform: uppercase
}


.text-main{
    color: $color-prink;
}

.scroll-down-wrapper {
    position: absolute;
    bottom: 24px;
    left: 8rem;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}


#lottie-animation{
    width: 30px;
    margin-bottom: 10px;
}


video{
    width: 100%;
}

.box_content{
    margin-top: 100px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.typed-out{
    overflow: hidden;
    // border-right: .10em solid orange;
    white-space: nowrap;
    animation: 
    typing 6s infinite alternate steps(50, end) forwards;
    // font-size: 1.6rem;
    width: 0;
  }


.btn_custom{
    padding: 8px 0;
    font-size: 1.5rem;
    color: $color-prink;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 400;

    .ic{
        margin-left: 10px;
        transform: translateX(0);

        svg{
            width: 25px;
            color: $color-prink;
            transform: translateX(0px);
            transition: all .5s;
        }
    }

    &:hover{
        color: #ff7ab6;

        .ic{
            svg{
                color: #ff7ab6;
                transform: translateX(10px);
                transition: all .5s;
            }
        }
    }

    @media (max-width: 987px) {
        font-size: 18px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

img{
    max-width: 100%;
}

.row-alight{
    display: flex;
    align-items: center;
}

.img_content{
    padding: 0 2rem;
    text-align: center;
}

.heading_title{
    font-size: 2.5rem;
    color: $color-prink;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;

    &.has_des{
        margin-bottom: 10px;
    }
}


.content_carousel{
    margin-top: 4rem;
    padding-bottom: 30px;
}

/* Default slide */
.center-slider .slick-slide{
    color: #FFF;
    // margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    padding: 20px 0;
  }
  .center-slider .slick-slide,
  .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(0.8, 0.8);
    transition: all 0.4s ease-in-out;
  }
  
  /* Active center slide (You can change anything here for cenetr slide)*/
  .center-slider .slick-center,
  .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
  }
  .center-slider .slick-current.slick-active{
    transform: scale(1.1);
  }
  
  .slick-next, .slick-prev{
    z-index: 5;
  }
  .slick-next{
    right: 15px;
  }
  .slick-prev{
    left: 15px;
  }
  .slick-next:before, .slick-prev:before{
    color: #000;
    font-size: 26px;
  }

  .slick-slide .info_name{
    margin: 10px 0;
    text-align: center;
    color: #fff;

    p{
        margin-bottom: 5px;
    }
  }

  .button_slick{
    svg{
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        margin: auto;
        color: $color-prink;
        width: 25px;
        cursor: pointer;
        opacity: 0.7;

        &:hover{
            opacity: 1;
        }
    }

    &.nextArrow{
        svg{
            right: -50px;
        }
    }

    &.prevArrow{
        svg{
            left: -50px;
        }
    }
  }
  


  .section{
    color: #fff;

    .description{
        font-size: 18px;
        text-align: center;

        @media (min-width: 1200px) {
            width: 70%;
            margin: auto;
        }
    }
  }

  section{
    height: 100vh;
    display: flex;
    align-items: center;

    &.fp-auto-height{
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
  }

  .img_brant_list{
    margin-top: 4rem;
    position: relative;
    border-top: 2px solid $color-prink;
    border-bottom: 2px solid $color-prink;
    padding: 4rem 0 2rem 0;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, $color-black, $color-prink, $color-black);
    background: #0000005e;

    .item_brant{
        padding: 0 15px;
        text-align: center;

        img{
            // width: 100%;
            // object-fit: cover;
            // height: 100px;
            // background: rgba(255, 255, 255, 0.05);
            // backdrop-filter: blur(5px);
            // padding: 15px;
            // border-radius: 8px;
            margin: auto;
        }
    }
  }

  .slick_brant_block{
    padding-bottom: 30px;
    .slick-dots {
        bottom: -50px;
    }
    .slick-dots li button:before{
        color: #fff;
    }
  }

  .section_gradient{
    background-image: linear-gradient(to right top, #1d1b1c, #1d1b1c, #1d1b1c, #1d1b1c, #1d1b1c, #2c2529, #3c2f36, #4d3943, #755163, #a06b84, #cd85a6, #fca0c9);
  }

  .section_price{
    &_list{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;

        &__item{
            width: calc(100% / 3);
            position: relative;

            .note_price{
                position: absolute;
                bottom: 0;
                text-align: center;
                width: 100%;
                font-size: 14px;
            }

            h3{
                font-size: 2rem;
                color: $color-prink;
                font-weight: 300;
                text-align: center;
                margin-bottom: 20px;
            }

            &:nth-child(2){
                position: relative;
                top: -50px;

                h3{
                    font-weight: bold;
                    font-size: 2.2rem;
                }
            }
        }

        &__box{
            padding: 20px;
            min-height: 450px;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(5px);
            /* Note: backdrop-filter has minimal browser support */
            border-radius: 16px;
            color: #fff;
            font-size: 18px;

            .text-month{
                font-weight: 300;
                text-align: center;
            }
            .text-price{
                text-align: center;

                strong{
                    font-size: 3.5rem;
                }
            }

            .table_permision{
                 color: #fff;
                 font-size: 14px;
                 vertical-align: middle;
                 margin-top: 30px;

                .ic{
                    width: 20px;

                    &.success{
                        color: #00c500;
                    }
                    &.danger{
                        color: #ff3a3a;
                    }
                }
            }
        }
    }
  }

  .text-right{
    text-align: right;
  }

  .footer{
    color: #fff;
    font-size: 18px;

    img{
        margin-left: 5px;
        max-width: 500px;
    }

    .footer_content{
        padding: 4rem 0;
        width: 100%;
    }

    .title_footer{
        font-size: 2.5rem;
        color: $color-prink;
        font-weight: 700;
    }
      .des_footer{
        font-weight: 500;
        font-size: 1.5rem;
      }
      .address_footer{
        // padding: 0;
        color: #b3b3b3;
        margin: 0;

        li{
            margin: 15px 0;

            a{
                color: #fff;
                text-decoration: none;

                &:hover{
                    color: $color-prink;
                }
            }
        }
      }
  }


  .social_list{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0 15px 0;
  }

  .cusstom_language{
    img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .dropdown-toggle {
        background: transparent;
        border-color: #fba0c9;
        border-radius: 40px;
        padding: 5px 10px;

        .dropdown-item{
            display: flex;
            align-items: center;
        }
    }

    .dropdown-menu{
        min-width: 150px !important;
    }

    @media only screen and (max-width: 890px) {
       position: absolute;
       right: 20px;
    }
    @media only screen and (max-width: 699px) {
        right: 10px;

        .dropdown-toggle {
            font-size: 12px;
        }
        img{
            width: 17px;
            height: 17px;
            margin-right: 5px;
        }
     }
  }


  .footer_bottom{
    .footer_reserved{
        text-align: center;
        padding: 20px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, $color-black, $color-prink, $color-black);
        border-top: 1px solid;
        font-size: 14px;
    }
  }


  .box_outnet-default{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    min-height: 150px;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 0 10%;
    text-align: center;
    position: relative;

    &.main{
        background: #FCA0C9;
        color: #313131;
    }

    &.minheight148{
        min-height: 148px;
    }

    &.minheight152{
        min-height: 152px;
    }

    &.box-adress-before{
        &::before{
            content: "";
            position: absolute;
            background-image: url('../images/hanoi.png');
            z-index: 1;
            width: 200px;
            height: 100%;
            left: 45px;
            top: 0;
            background-repeat: no-repeat;
        }
        &::after{
            content: "";
            position: absolute;
            background-image: url('../images/hcm.png');
            z-index: 1;
            width: 200px;
            height: 100%;
            right: 0;
            top: 0;
            background-repeat: no-repeat;
        }

        @media (max-width: 600px) {
            &::before{
                left: 0;
            }
            &::after{
                right: 0;
                width: 135px;
            }
        }
    }

    .custom_number_platform{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h4{
            display: flex;
            align-items: center;

            span{
                font-size: 17px;
                font-weight: 400;
            }
        }
    }

    h4{
        --minFontSize: 32px;
        --maxFontSize: 5rem;
        --scaler: 7vw;
        font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
        font-weight: 800;
        margin-bottom: 0;
    }

    span{
        
    }

    .text-align{
        display: flex;
        align-items: center;
        justify-content: center;

        h4{
            margin-right: 10px;
        }

        span{
            text-align: left;
        }
    }
  }

  .text-capitalize{
    text-transform: capitalize !important;
  }

  .text-white{
    color: #fff !important;
  }

  
.head_title, .text-main{
    --minFontSize: 26px;
    --maxFontSize: 3.5rem;
    --scaler: 4vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    font-weight: 700;
}

  .creator_group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &__item{
        // width: 25%;
        text-align: center;
        display: block;
        text-align: center;
        padding-bottom: 15px;
        margin: 0px 5px 5px;
        min-width: 110px;
        position: relative;

        .img_avt{
            border-radius: 100%;
            overflow: hidden;
            width: 100px;
            height: 120px;
            margin: 20px auto;
            border: 6px solid #323232;
            --minFontSize: 110px;
            --maxFontSize: 110px;
            --scaler: 8vw;
            width: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
            height: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            @media only screen and (min-width: 1599px) {
                --minFontSize: 100px;
                --maxFontSize: 12px;
                --scaler: 8vw;
                width: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
                height: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
            }
        }

        @media only screen and (min-width: 1599px) {
            margin: 15px 15px 10px;
        }

        .name_creator {
            font-size: 16px;
            margin: 5px 0;
            font-weight: 400;
            --minFontSize: 13px;
            --maxFontSize: 16px;
            --scaler: 1vw;
            font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
        }

        .label_social{
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1px);
            /* Note: backdrop-filter has minimal browser support */
            border-radius: 8px;
            padding: 5px 10px;
            color: #fff;
            font-size: 14px;
            --minFontSize: 10px;
            --maxFontSize: 11px;
            --scaler: 1vw;
            font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
            text-transform: uppercase;
            margin-top: 5px;

            // @media only screen and (max-width: 600px) {
            //     position: absolute;
            //     top: 65px;
            //     min-width: 70px;
            //     padding: 3px;
            //     background: #000;
            //     border-radius: 2px;
            //     left: 0;
            //     right: 0;
            // }
        }

        @media only screen and (max-width: 600px) {
            padding-bottom: 0;

            .name_creator {
                margin-bottom: 0;
            }
        }
    }
  }

  .slick_case_study{
    margin-bottom: 3rem;

    &__item{
        padding: 20px;

        .box{
            min-height: 370px;
            padding: 20px;
            overflow: hidden;
            border-radius: 8px;
            color: #000;
            font-size: 13px;
            position: relative;

            h5{
                margin-bottom: 0;
                font-size: 1.5rem;
            }

            img{
                position: absolute;
                bottom: 0;
                right: 0;
            }

            @media only screen and (min-width: 1600px) {
                min-height: 310px;
            }

            @media only screen and (min-width: 1500px) {
                .text{
                    padding-right: 9.5rem;
                }
            }
            @media only screen and (max-width: 1499px) {
                min-height: 310px;

                .text{
                    padding-right: 10rem;
                }
            }

            // @media only screen and (max-width: 600px) {
            //     img{
            //         display: none;
            //     }    
            //     .text{
            //         padding-right: 0;
            //     }
            // }
        }

        .text{
            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }

        @media only screen and (max-width: 600px) {
            padding-top: 60px;

            h5{
                position: relative;
            }
            
            .box{
                overflow: inherit;

                img{
                    position: absolute;
                    bottom: -17px;
                    right: 0 !important;
                    max-width: 80px;
                }

                .text{
                    padding-right: 0;
                }
            }
        }
    }
  }


  .navbar {
    // position: fixed;
    // z-index: 1;
    // top: 0;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 64px;
    // background: #19191c;
    // color: #f9f9f9;
    box-sizing: border-box;
}


@media only screen and (min-width: 1200px) {
    .grid_raffic{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}


@media only screen and (min-width: 890px) {
    .navbar {
        justify-content: flex-start;
        // padding: 0 0 0 16px;
    }
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 890px) {
    .navbar-overlay {
        display: none;
    }
}

.navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
    background: transparent;
    color: #fff;
    border: none;
}

@media only screen and (min-width: 890px) {
    .navbar-burger {
        display: none;
    }
}

.navbar-title {
    margin: 0;
    font-size: 16px;
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
    // padding: 20px 0 !important;
    // background: #000000d9;
}

@media only screen and (min-width: 890px) {
    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }

    .navbar-title {
        margin: 0 30px 0 0;
        font-size: 16px;
    }
}

.navbar-menu > button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
}

.navbar-menu > button.active {
    color: inherit;
}


  @media (min-width: 1500px)
  {
    .padding_content{
        padding: 0 10%;
      }
  }

  @media (min-width: 1100px)
{
    .container-fluid {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}


.row-reverse{
    flex-direction: row-reverse;
}

html {
    scroll-behavior: smooth;
  }

.custom-btn {
    width: calc(100% / 3.2);
    min-width: 150px;
    height: 70px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }


  /* 12 */
.btn-12{
  
    border:none;
    box-shadow: none;
  }
  .btn-12 span {
    background: #ff8cc0;
  background: linear-gradient(0deg, #ff8cc0  0%, #fba0c9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #000;
    font-weight: bold;
    padding: 15px;
    // min-width: 130px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  .menuCategory{
    margin-top: 30px;
  }

  @media only screen and (max-width: 890px) {
    
    .box_content{
        margin-top: 50px;
    }
    .row-alight{
        // flex-direction: column-reverse;
    }

    .row-reverse{
        // flex-direction: column-reverse;
    }

    .img_content{
        img{
            max-width: 70%;
            margin: auto;
        }
    }
    .typed-out{
        width: 100%;
        animation: unset;
    }
    .home__content-text{
        text-align: center;
        margin-top: 30px;
        padding: 0 5rem;

        &.text-lg{
            font-size: 4rem;
        }
    }

    .creator_group{
        padding: 0 2rem;
    }

    .box_outnet-default{
        min-height: 125px;

        &.minheight152{
            min-height: 125px;
        }
    }

    .grid_raffic{
        padding: 0 20px;
    }

    .fp-auto-height{
        padding: 0 20px;
        height: auto !important;
    }

    .head_title, .text-main{
        --minFontSize: 48px;
    }

    .navbar-menu{
        padding: 20px 0 !important;
    }

  }


  @media only screen and (max-width: 800px) {
    .scroll-parent{
        overflow: hidden;
        display: flex;
        height: 500px;
        width: 1500px;
        margin: 0 auto;
        // flex-wrap: nowrap;
        // align-items: flex-start;
        justify-content: flex-start;

        .creator_group__item{
            // height: 160px;
            min-width: 125px;
            margin-left: 15px;
            animation: slide 25s linear infinite;
        }
    }
    
    @keyframes slide {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(-1500px, 0, 0); /* The image width */
        }
      }

      .section .description {
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 600px) {

    .section_ournetword{
        .head_title{
            margin-bottom: 0px;
        }
    }

    .row {
        --bs-gutter-x: 0.5rem;
    }
    .box_content{
        margin-top: 0;
    }
    .img_content{
        img{
            max-width: 100%;
        }
    }
    .head_title{
        font-size: 28px;
    }
    .home__content-text{
        padding: 0 15px;
        margin-top: 0;
        
        .head_title, .text-main{
            font-size: 28px;
        }

        
        &.text-lg{
            font-size: 2rem;
        }

        p{
            margin-bottom: 5px;
        }

        .text-content{
            font-size: 13px;
        }
    }
    .btn_custom{
        font-size: 14px;

        .ic svg{
            width: 17px;
        }
    }

    .scroll-down-wrapper{
        left: 5rem;
    }

    a.custom-btn {
        min-width: unset;
        width: 30%;
        font-size: 12px;
        padding: 5px;

        span{
            padding: 5px;
        }
    }

    .box_outnet-default{
        min-height: 80px;
        padding: 0 10px;
        border-radius: 6px;

        span{
            font-size: 12px;
        }

        h4{
            span{
                font-size: 12px !important;
            }
        }

        &.minheight148, &.minheight152 {
            min-height: 90px;
        }
    }

    #header{
        padding: 0;
    }

    #section5 .heading_title{
        margin-bottom: 1rem;
    }

    #header .header_main{
        position: relative;
    }

    .navbar-title{
        img{
            max-width: 70px;
        }
    }

    .navbar-burger{
        height: 45px;
    }

    .section {
        padding-top: 100px;
    }

    .scroll-parent{
        height: 390px;
    }

    .creator_group__item {
        .name_creator{
            margin-top: 15px;
        }
        @media only screen and (max-width: 600px){
            .name_creator{
                margin: 5px 0;
            }
        }
    }

    .footer{
        .title_footer {
            font-size: 1.5rem;
        }
        .des_footer {
            font-size: 14px;
        }
        .address_footer {
            font-size: 14px;
        }

        .social_list{
            margin-bottom: 25px;
        }

        img{
            max-width: 208px;
        }

        .logo_footer{
            display: none;
        }
    }

    #section11{
        .heading_title {
            margin-bottom: 0!important;
        }
    }

  }

  .logo{
    img{
        max-width: 70px;
    }
  }

  body.lg-vi{
    .head_title, .text-main{
        --scaler: 2.5vw;
    }
    .home__content-text .text-unset{
        font-size: 18px;
    }

    @media only screen and (max-width: 600px){
        .home__content-text .text-unset{
            font-size: 15px;
        }

        .home__content-text .head_title, .home__content-text .text-main {
            font-size: 26px;
        }
    }
  }