::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1100px) {
  .container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 600px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
body {
  background: #1D1B1C;
  font-size: 14px;
}

#wrapper {
  max-width: 5120px;
  margin: auto;
  overflow: hidden;
}

.section {
  background: #1D1B1C;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
  background: #1D1B1C;
}
#header .header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .header_main__menu {
  width: 80%;
}
#header .header_main__menu .menu_h2n {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu {
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  background: transparent;
  border-radius: 10px;
}
#menu li.header_logo a {
  padding-left: 0 !important;
}

#menu li a.active {
  color: #FCA0C9;
}

#menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  --minFontSize: 16px;
  --maxFontSize: 11px;
  --scaler: 2vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

#menu li.active a:hover {
  color: #FCA0C9;
}

#menu li:hover a {
  color: #FCA0C9;
}

#menu li a,
#menu li.active a {
  padding: 9px 10px;
  display: block;
}

#menu li.active a {
  color: #FCA0C9;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
}

.section h1 {
  color: #fff;
}

.layout-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.layout-table--cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.home__image-full {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 100vw;
  z-index: 0;
}
.home__image-full video {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__content-text {
  word-break: unset;
  letter-spacing: unset;
  color: #fff;
  font-size: 16px;
  z-index: 10;
  position: relative;
  font-weight: bold;
}
.home__content-text.text-lg {
  --minFontSize: 32px;
  --maxFontSize: 200px;
  --scaler: 4vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
.home__content-text.text-sm {
  font-size: 2.8rem;
}
.home__content-text .text-unset {
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
}
@media (max-width: 1400px) {
  .home__content-text .text-unset {
    font-size: 16px;
  }
}
@media (max-width: 987px) {
  .home__content-text .text-unset {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .home__content-text .text-unset {
    font-size: 14px;
  }
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-main {
  color: #FCA0C9;
}

.scroll-down-wrapper {
  position: absolute;
  bottom: 24px;
  left: 8rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

#lottie-animation {
  width: 30px;
  margin-bottom: 10px;
}

video {
  width: 100%;
}

.box_content {
  margin-top: 100px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.typed-out {
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 6s infinite alternate steps(50, end) forwards;
          animation: typing 6s infinite alternate steps(50, end) forwards;
  width: 0;
}

.btn_custom {
  padding: 8px 0;
  font-size: 1.5rem;
  color: #FCA0C9;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
}
.btn_custom .ic {
  margin-left: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.btn_custom .ic svg {
  width: 25px;
  color: #FCA0C9;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn_custom:hover {
  color: #ff7ab6;
}
.btn_custom:hover .ic svg {
  color: #ff7ab6;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 987px) {
  .btn_custom {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .btn_custom {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
}

.row-alight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_content {
  padding: 0 2rem;
  text-align: center;
}

.heading_title {
  font-size: 2.5rem;
  color: #FCA0C9;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}
.heading_title.has_des {
  margin-bottom: 10px;
}

.content_carousel {
  margin-top: 4rem;
  padding-bottom: 30px;
}

/* Default slide */
.center-slider .slick-slide {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 20px 0;
}

.center-slider .slick-slide,
.center-slider .slick-slide[aria-hidden=true]:not(.slick-cloned) ~ .slick-cloned[aria-hidden=true] {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.center-slider .slick-center,
.center-slider .slick-slide[aria-hidden=true]:not([tabindex="-1"]) + .slick-cloned[aria-hidden=true] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.center-slider .slick-current.slick-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slick-next, .slick-prev {
  z-index: 5;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-next:before, .slick-prev:before {
  color: #000;
  font-size: 26px;
}

.slick-slide .info_name {
  margin: 10px 0;
  text-align: center;
  color: #fff;
}
.slick-slide .info_name p {
  margin-bottom: 5px;
}

.button_slick svg {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: auto;
  color: #FCA0C9;
  width: 25px;
  cursor: pointer;
  opacity: 0.7;
}
.button_slick svg:hover {
  opacity: 1;
}
.button_slick.nextArrow svg {
  right: -50px;
}
.button_slick.prevArrow svg {
  left: -50px;
}

.section {
  color: #fff;
}
.section .description {
  font-size: 18px;
  text-align: center;
}
@media (min-width: 1200px) {
  .section .description {
    width: 70%;
    margin: auto;
  }
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.fp-auto-height {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_brant_list {
  margin-top: 4rem;
  position: relative;
  border-top: 2px solid #FCA0C9;
  border-bottom: 2px solid #FCA0C9;
  padding: 4rem 0 2rem 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #1D1B1C, #FCA0C9, #1D1B1C);
  background: #0000005e;
}
.img_brant_list .item_brant {
  padding: 0 15px;
  text-align: center;
}
.img_brant_list .item_brant img {
  margin: auto;
}

.slick_brant_block {
  padding-bottom: 30px;
}
.slick_brant_block .slick-dots {
  bottom: -50px;
}
.slick_brant_block .slick-dots li button:before {
  color: #fff;
}

.section_gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#1d1b1c), color-stop(#1d1b1c), color-stop(#1d1b1c), color-stop(#1d1b1c), color-stop(#1d1b1c), color-stop(#2c2529), color-stop(#3c2f36), color-stop(#4d3943), color-stop(#755163), color-stop(#a06b84), color-stop(#cd85a6), to(#fca0c9));
  background-image: linear-gradient(to right top, #1d1b1c, #1d1b1c, #1d1b1c, #1d1b1c, #1d1b1c, #2c2529, #3c2f36, #4d3943, #755163, #a06b84, #cd85a6, #fca0c9);
}

.section_price_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.section_price_list__item {
  width: calc(100% / 3);
  position: relative;
}
.section_price_list__item .note_price {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.section_price_list__item h3 {
  font-size: 2rem;
  color: #FCA0C9;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
.section_price_list__item:nth-child(2) {
  position: relative;
  top: -50px;
}
.section_price_list__item:nth-child(2) h3 {
  font-weight: bold;
  font-size: 2.2rem;
}
.section_price_list__box {
  padding: 20px;
  min-height: 450px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  color: #fff;
  font-size: 18px;
}
.section_price_list__box .text-month {
  font-weight: 300;
  text-align: center;
}
.section_price_list__box .text-price {
  text-align: center;
}
.section_price_list__box .text-price strong {
  font-size: 3.5rem;
}
.section_price_list__box .table_permision {
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 30px;
}
.section_price_list__box .table_permision .ic {
  width: 20px;
}
.section_price_list__box .table_permision .ic.success {
  color: #00c500;
}
.section_price_list__box .table_permision .ic.danger {
  color: #ff3a3a;
}

.text-right {
  text-align: right;
}

.footer {
  color: #fff;
  font-size: 18px;
}
.footer img {
  margin-left: 5px;
  max-width: 500px;
}
.footer .footer_content {
  padding: 4rem 0;
  width: 100%;
}
.footer .title_footer {
  font-size: 2.5rem;
  color: #FCA0C9;
  font-weight: 700;
}
.footer .des_footer {
  font-weight: 500;
  font-size: 1.5rem;
}
.footer .address_footer {
  color: #b3b3b3;
  margin: 0;
}
.footer .address_footer li {
  margin: 15px 0;
}
.footer .address_footer li a {
  color: #fff;
  text-decoration: none;
}
.footer .address_footer li a:hover {
  color: #FCA0C9;
}

.social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 30px 0 15px 0;
}

.cusstom_language img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.cusstom_language .dropdown-toggle {
  background: transparent;
  border-color: #fba0c9;
  border-radius: 40px;
  padding: 5px 10px;
}
.cusstom_language .dropdown-toggle .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cusstom_language .dropdown-menu {
  min-width: 150px !important;
}
@media only screen and (max-width: 890px) {
  .cusstom_language {
    position: absolute;
    right: 20px;
  }
}
@media only screen and (max-width: 699px) {
  .cusstom_language {
    right: 10px;
  }
  .cusstom_language .dropdown-toggle {
    font-size: 12px;
  }
  .cusstom_language img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
}

.footer_bottom .footer_reserved {
  text-align: center;
  padding: 20px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #1D1B1C, #FCA0C9, #1D1B1C);
  border-top: 1px solid;
  font-size: 14px;
}

.box_outnet-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  min-height: 150px;
  font-size: 17px;
  margin-bottom: 20px;
  padding: 0 10%;
  text-align: center;
  position: relative;
}
.box_outnet-default.main {
  background: #FCA0C9;
  color: #313131;
}
.box_outnet-default.minheight148 {
  min-height: 148px;
}
.box_outnet-default.minheight152 {
  min-height: 152px;
}
.box_outnet-default.box-adress-before::before {
  content: "";
  position: absolute;
  background-image: url("../images/hanoi.png");
  z-index: 1;
  width: 200px;
  height: 100%;
  left: 45px;
  top: 0;
  background-repeat: no-repeat;
}
.box_outnet-default.box-adress-before::after {
  content: "";
  position: absolute;
  background-image: url("../images/hcm.png");
  z-index: 1;
  width: 200px;
  height: 100%;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .box_outnet-default.box-adress-before::before {
    left: 0;
  }
  .box_outnet-default.box-adress-before::after {
    right: 0;
    width: 135px;
  }
}
.box_outnet-default .custom_number_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.box_outnet-default .custom_number_platform h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box_outnet-default .custom_number_platform h4 span {
  font-size: 17px;
  font-weight: 400;
}
.box_outnet-default h4 {
  --minFontSize: 32px;
  --maxFontSize: 5rem;
  --scaler: 7vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  font-weight: 800;
  margin-bottom: 0;
}
.box_outnet-default .text-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box_outnet-default .text-align h4 {
  margin-right: 10px;
}
.box_outnet-default .text-align span {
  text-align: left;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-white {
  color: #fff !important;
}

.head_title, .text-main {
  --minFontSize: 26px;
  --maxFontSize: 3.5rem;
  --scaler: 4vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  font-weight: 700;
}

.creator_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.creator_group__item {
  text-align: center;
  display: block;
  text-align: center;
  padding-bottom: 15px;
  margin: 0px 5px 5px;
  min-width: 110px;
  position: relative;
}
.creator_group__item .img_avt {
  border-radius: 100%;
  overflow: hidden;
  width: 100px;
  height: 120px;
  margin: 20px auto;
  border: 6px solid #323232;
  --minFontSize: 110px;
  --maxFontSize: 110px;
  --scaler: 8vw;
  width: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  height: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
.creator_group__item .img_avt img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1599px) {
  .creator_group__item .img_avt {
    --minFontSize: 100px;
    --maxFontSize: 12px;
    --scaler: 8vw;
    width: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    height: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  }
}
@media only screen and (min-width: 1599px) {
  .creator_group__item {
    margin: 15px 15px 10px;
  }
}
.creator_group__item .name_creator {
  font-size: 16px;
  margin: 5px 0;
  font-weight: 400;
  --minFontSize: 13px;
  --maxFontSize: 16px;
  --scaler: 1vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
.creator_group__item .label_social {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  --minFontSize: 10px;
  --maxFontSize: 11px;
  --scaler: 1vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  text-transform: uppercase;
  margin-top: 5px;
}
@media only screen and (max-width: 600px) {
  .creator_group__item {
    padding-bottom: 0;
  }
  .creator_group__item .name_creator {
    margin-bottom: 0;
  }
}

.slick_case_study {
  margin-bottom: 3rem;
}
.slick_case_study__item {
  padding: 20px;
}
.slick_case_study__item .box {
  min-height: 370px;
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  color: #000;
  font-size: 13px;
  position: relative;
}
.slick_case_study__item .box h5 {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.slick_case_study__item .box img {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (min-width: 1600px) {
  .slick_case_study__item .box {
    min-height: 310px;
  }
}
@media only screen and (min-width: 1500px) {
  .slick_case_study__item .box .text {
    padding-right: 9.5rem;
  }
}
@media only screen and (max-width: 1499px) {
  .slick_case_study__item .box {
    min-height: 310px;
  }
  .slick_case_study__item .box .text {
    padding-right: 10rem;
  }
}
.slick_case_study__item .text {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .slick_case_study__item {
    padding-top: 60px;
  }
  .slick_case_study__item h5 {
    position: relative;
  }
  .slick_case_study__item .box {
    overflow: inherit;
  }
  .slick_case_study__item .box img {
    position: absolute;
    bottom: -17px;
    right: 0 !important;
    max-width: 80px;
  }
  .slick_case_study__item .box .text {
    padding-right: 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
  .grid_raffic {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media only screen and (min-width: 890px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 890px) {
  .navbar-overlay {
    display: none;
  }
}
.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
  background: transparent;
  color: #fff;
  border: none;
}

@media only screen and (min-width: 890px) {
  .navbar-burger {
    display: none;
  }
}
.navbar-title {
  margin: 0;
  font-size: 16px;
}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #000000;
  visibility: hidden;
  -webkit-transition: translate 0.3s;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 890px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    visibility: visible;
  }

  .navbar-title {
    margin: 0 30px 0 0;
    font-size: 16px;
  }
}
.navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
}

.navbar-menu > button.active {
  color: inherit;
}

@media (min-width: 1500px) {
  .padding_content {
    padding: 0 10%;
  }
}
@media (min-width: 1100px) {
  .container-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

html {
  scroll-behavior: smooth;
}

.custom-btn {
  width: calc(100% / 3.2);
  min-width: 150px;
  height: 70px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 12 */
.btn-12 {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-12 span {
  background: #ff8cc0;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8cc0), to(#fba0c9));
  background: linear-gradient(0deg, #ff8cc0 0%, #fba0c9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #000;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.menuCategory {
  margin-top: 30px;
}

@media only screen and (max-width: 890px) {
  .box_content {
    margin-top: 50px;
  }

  .img_content img {
    max-width: 70%;
    margin: auto;
  }

  .typed-out {
    width: 100%;
    -webkit-animation: unset;
            animation: unset;
  }

  .home__content-text {
    text-align: center;
    margin-top: 30px;
    padding: 0 5rem;
  }
  .home__content-text.text-lg {
    font-size: 4rem;
  }

  .creator_group {
    padding: 0 2rem;
  }

  .box_outnet-default {
    min-height: 125px;
  }
  .box_outnet-default.minheight152 {
    min-height: 125px;
  }

  .grid_raffic {
    padding: 0 20px;
  }

  .fp-auto-height {
    padding: 0 20px;
    height: auto !important;
  }

  .head_title, .text-main {
    --minFontSize: 48px;
  }

  .navbar-menu {
    padding: 20px 0 !important;
  }
}
@media only screen and (max-width: 800px) {
  .scroll-parent {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    width: 1500px;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .scroll-parent .creator_group__item {
    min-width: 125px;
    margin-left: 15px;
    -webkit-animation: slide 25s linear infinite;
            animation: slide 25s linear infinite;
  }

  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-1500px, 0, 0);
              transform: translate3d(-1500px, 0, 0);
      /* The image width */
    }
  }

  @keyframes slide {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-1500px, 0, 0);
              transform: translate3d(-1500px, 0, 0);
      /* The image width */
    }
  }
  .section .description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .section_ournetword .head_title {
    margin-bottom: 0px;
  }

  .row {
    --bs-gutter-x: 0.5rem;
  }

  .box_content {
    margin-top: 0;
  }

  .img_content img {
    max-width: 100%;
  }

  .head_title {
    font-size: 28px;
  }

  .home__content-text {
    padding: 0 15px;
    margin-top: 0;
  }
  .home__content-text .head_title, .home__content-text .text-main {
    font-size: 28px;
  }
  .home__content-text.text-lg {
    font-size: 2rem;
  }
  .home__content-text p {
    margin-bottom: 5px;
  }
  .home__content-text .text-content {
    font-size: 13px;
  }

  .btn_custom {
    font-size: 14px;
  }
  .btn_custom .ic svg {
    width: 17px;
  }

  .scroll-down-wrapper {
    left: 5rem;
  }

  a.custom-btn {
    min-width: unset;
    width: 30%;
    font-size: 12px;
    padding: 5px;
  }
  a.custom-btn span {
    padding: 5px;
  }

  .box_outnet-default {
    min-height: 80px;
    padding: 0 10px;
    border-radius: 6px;
  }
  .box_outnet-default span {
    font-size: 12px;
  }
  .box_outnet-default h4 span {
    font-size: 12px !important;
  }
  .box_outnet-default.minheight148, .box_outnet-default.minheight152 {
    min-height: 90px;
  }

  #header {
    padding: 0;
  }

  #section5 .heading_title {
    margin-bottom: 1rem;
  }

  #header .header_main {
    position: relative;
  }

  .navbar-title img {
    max-width: 70px;
  }

  .navbar-burger {
    height: 45px;
  }

  .section {
    padding-top: 100px;
  }

  .scroll-parent {
    height: 390px;
  }

  .creator_group__item .name_creator {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 600px) and (max-width: 600px) {
  .creator_group__item .name_creator {
    margin: 5px 0;
  }
}
@media only screen and (max-width: 600px) {
  .footer .title_footer {
    font-size: 1.5rem;
  }
  .footer .des_footer {
    font-size: 14px;
  }
  .footer .address_footer {
    font-size: 14px;
  }
  .footer .social_list {
    margin-bottom: 25px;
  }
  .footer img {
    max-width: 208px;
  }
  .footer .logo_footer {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #section11 .heading_title {
    margin-bottom: 0 !important;
  }
}
.logo img {
  max-width: 70px;
}

body.lg-vi .head_title, body.lg-vi .text-main {
  --scaler: 2.5vw;
}
body.lg-vi .home__content-text .text-unset {
  font-size: 18px;
}
@media only screen and (max-width: 600px) {
  body.lg-vi .home__content-text .text-unset {
    font-size: 15px;
  }
  body.lg-vi .home__content-text .head_title, body.lg-vi .home__content-text .text-main {
    font-size: 26px;
  }
}